<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WavegenPlugin (AU).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WavegenPlugin (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WavegenPlugin (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>WavegenPlugin (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WavegenPlugin (VST3).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03F6829513830045329610BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71E1E34CFC671ACBBCE0726C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>921CB4BBA34ADBC5270F81EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3F206BB3277FBADE3BD615B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4A200CA175E6673EB359B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
